# Copyright 2024 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#
# Cyril Koenig <cykoenig@iis.ee.ethz.ch>

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - init
  - toolchains
  - sw
  - apps
  - bitstreams

init:
  stage: init
  script:
    - echo $PATH
    - which python
    - echo $CI_BUILDS_DIR 
    - du --max-depth=1 -h $CI_BUILDS_DIR/*
    # Delete above 5 days
    # - find $CI_BUILDS_DIR/* -type f -mtime +5 -delete
    # - find $CI_BUILDS_DIR/* -type d -empty -delete

pages:
  stage: init
  needs: [ init ]
  script:
  - mkdocs build --verbose
  when: manual
  artifacts:
    expire_in: 1 week
    paths:
    - public

cva6-sdk:
  stage: toolchains
  before_script:
    - source scripts/setenv.sh
  script:
    - make hero-cva6-sdk-all
  artifacts:
    expire_in: 1 week
    paths:
      - cva6-sdk/buildroot/output
      - cva6-sdk/install64

llvm:
  stage: toolchains
  needs: [ init, cva6-sdk ]
  # This needs a bare shell with an up-to-date GZIP version
  before_script:
    - source scripts/setenv.sh
  script:
    - make hero-tc-llvm-artifacts
  artifacts:
    expire_in: 1 week
    paths:
      # Todo reduce size by removing the non used libs
      - install

all-sw:
  stage: sw
  needs: [ init, cva6-sdk, llvm ]
  before_script:
    - source scripts/setenv.sh
  script:
    - make HERO_HOST=cva6 HERO_DEVICE=spatz_cluster hero-sw-all
    - make HERO_HOST=cva6 HERO_DEVICE=occamy hero-sw-all
    - make HERO_HOST=cva6 HERO_DEVICE=safety_island hero-sw-all
  artifacts:
    expire_in: 1 week
    paths:
      - sw/libllvm/lib/libLLVMSupport.a
      - sw/libllvm/include
      - sw/libomp/lib
      - sw/libomp/include
      - sw/libhero/lib/
      - sw/libhero/include

safety_island_apps:
  stage: apps
  needs: [ init, cva6-sdk, llvm, all-sw ]
  before_script:
    - source scripts/setenv.sh
    - export SAFETY_ROOT=$CI_PROJECT_DIR/platforms/carfield/safety_island
  script:
    - make hero-safety-sw-all
    - make -C apps/omp/basic/offload_benchmark/ DEVICES=safety_island

spatz_apps:
  stage: apps
  needs: [ init, cva6-sdk, llvm, all-sw ]
  before_script:
    - source scripts/setenv.sh
  script:
    - make hero-spatz-sw-all
    - make -C apps/omp/basic/offload_benchmark/ DEVICES=spatz_cluster

occamy_apps:
  stage: apps
  needs: [ init, cva6-sdk, llvm, all-sw ]
  before_script:
    - source scripts/setenv.sh
  script:
    - make hero-occamy-sw-all
    - make -C apps/omp/basic/offload_benchmark/ DEVICES=occamy

occamy_bit:
  stage: bitstreams
  needs: [ init, cva6-sdk ]
  before_script:
    - source scripts/setenv.sh
  script:
    - make hero-occamy-bit-all-artifacts
  when: manual
  timeout: 12 hours

safety_bit:
  stage: bitstreams
  needs: [ init ]
  before_script:
    - source scripts/setenv.sh
  script:
    - make hero-safety-bit-all-artifacts
  when: manual
  timeout: 12 hours

spatz_bit:
  stage: bitstreams
  needs: [ init ]
  before_script:
    - source scripts/setenv.sh
  script:
    - make hero-spatz-bit-all-artifacts
  when: manual
  timeout: 12 hours
